<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DevOps Pipeline</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Pipeline Github e Heroku - Gustavo Costa</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/github-heroku.jpg" alt="Pipeline">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Aplicação rodando!</p>
			
			<div class="devops-path path">
				<h1>Passos</h1>
					<h2>01 - Criar um repositório no GitHub</h2>

					<h2>02 - Criar um APP no Heroku</h2>
				
					<h2>03 - Copiar a chave API do Heroku</h2>

					<h2>04 - Configurar a Chaves Secrets no Github</h2>

					<h2>05 - Criar a pipeline (pipeline.yml)</h2>

					<h2>06 - Efetuar deploy no Github</h2>

					<h2>07 - Acompanhar a execução da pipeline</h2>
				
			</div>
=
		</div>
	</div>

</body>

</html>
